
<div class="col-md-4">
    <form action="" method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

        <table>
            {% set cycling_list = cycler('row1', 'row2') %}
            {% for form in permissions_form.forms %}
                {% if loop.first %}
                    <thead class="permission_form">
                        <tr>
                            <th>Response</th>
                            <th>Operation</th>
                            <th>Content Type</th>
                            <th>Object</th>
                            <th></th>
                        </tr>
                    </thead>
                {% endif %}

                <tr class="{{ cycling_list.next() }} formset_row">
                    <td>
                        {# Include the hidden fields in the form #}
                        {% for hidden in form.hidden_fields() %}
                            {{ hidden }}
                        {% endfor %}
                        
                        {{ form.type }}
                    </td>
                    <td>
                        {{ form.operation }}
                    </td>
                    <td class="content_type">
                        {{ form.content_type }}
                    </td>
                    <td>
                        <div class="table-search">
                            {{ form.table }}
                        </div>
                        <div class="column-search">
                            {{ form.column }}
                        </div>
                    </td>
                    <td class="delete-col"></td>
                 </tr>
            {% endfor %}

            {{ permissions_form.management_form }}
        </table>

        <button type="submit" class="create-table-btn">Save</button>
        <a href="{{ url('permission_list') }}">
            <button class="cancel-btn">Back to the list</button>
        </a>
    </form>
    
</div>
<script type="text/javascript">
    
    $('.formset_row').formset({
        addText: '+ Add permission',
        addCssClass: "formset-add-btn",
        deleteText: '<i data-feather="trash-2"></i>',
        editText: "edit",
        deleteCssClass: "cancel-btn",
        prefix: "form",
        added: function(tr){
            toggle_object_selection(tr);
            feather.replace();
        }
    });

    function toggle_object_selection(tr) {
        let content_type_select = tr.find("td.content_type select");
        console.log(content_type_select.val());
        if (content_type_select.val() == "10") {
            tr.find("div.column-search").show();     
            tr.find("div.table-search").hide();
        } else {
            tr.find("div.column-search").hide();     
            tr.find("div.table-search").show();
        }
    }
    
    $(document).ready(function(){
        $("tr.formset_row").each(function(){
            let content_type_select = $("select[id$=content_type]");
            if (content_type_select.val() == undefined)
                content_type_select.val("9");
            toggle_object_selection($(this));
        });
    })
        

    $(document).on('change', 'select[id$=content_type]', function() {
        toggle_object_selection($(this).closest('tr'));
    });

</script>