{% extends "base.html" %} {% block title%}Edit {{object.name}}'s group
permissions{%endblock%}{% block head %} {{ permissions_form.media }}

<script src="{{ static('js/jquery.formset.js') }}"></script>
<link href="{{ static('permission_edit.css') }}" rel="stylesheet" />
<style>
    .input-field {
        width: 100%;
        position: relative;
    }
</style>
{% endblock %} {% block main %} {% include "user/user_group_tabs.html" %}
<h1>Edit groups's permissions</h1>
{% include 'permissions/form.html' %} {% endblock %}
