{% macro render_form(column_setting_form) %}
    <div class="settings-box">
        {{ column_setting_form.as_ul() }}
    </div>
{% endmacro %}

{% macro settings_script(dtype) %}

    <script type="text/javascript">

        function content_type_input(setting_row) {
            return setting_row.find("select#id_content_type");
        }

        function create_relation_field_settings_form(column_row, settings_row){
            let settings_input = get_settings_input(column_row);
            let settings = JSON.parse(settings_input.val());
            content_type_input(settings_row).val(settings.content_type_id || min_value_input(settings_row).val());

            content_type_input(settings_row).mousedown(function(event){
                if (column_row.find("input[id*=-id]").val()){
                    event.preventDefault();
                    alert("You cannot change relation model once you saved table!");
                }
            });

        }

        function export_relation_field_settings_form(column_row, settings_row){
            let settings_input = get_settings_input(column_row);
            let settings = {
                content_type_id: content_type_input(settings_row).find(":selected").val(),
            };
            get_selected_filters(settings_row);
            settings_input.val(JSON.stringify(settings));
        }

        function validate_relation_on_submit(column_row) {
            let settings_input = get_settings_input(column_row);
            let settings = JSON.parse(settings_input.val());
            if (!settings.content_type_id) {
                edit_column_settings($(column_row).find('.edit').find('path,polyline'));
                content_type_input(column_row.next()).addClass('invalid_field');
                return "You must chose content type!"
            }
        }

        function validate_relation_on_save() {

        }

        register_dtype("{{ dtype }}", {create_function: create_relation_field_settings_form,
                                       export_function:  export_relation_field_settings_form,
                                       save_validator: validate_relation_on_save,
                                       submit_validator: validate_relation_on_submit})

    </script>


{% endmacro %}
