{% extends "base.html" %}

{% block  head %}
<style>
    .input-field {
        width:30%;
    }
</style>


{% endblock %}

{% block main %}

<h1>Change role name</h1>
<form method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    {{ form.as_p() }}
    <input type="submit" class="save-btn" value="Save">
        <button class="cancel-btn"><a href="{{ url('role_list') }}">Back to list</a></button>
    {% if view_name == 'update_role'%}
            <button class="delete-btn"><a href="{{ url('delete_role', args=[object.pk])}}">Delete role</a></button>
    {% endif %}
</form>


{% endblock %}