{% extends "base.html" %}

{% block head %}

    <style>
        .input-field {
            width:30%;
        }
    </style>

{% endblock %}

{% block main %}

{% if view_name=='edit_group' %}
    {% include "user/user_group_tabs.html" %}
    <h1>Edit group</h1>
{% else %}
    <h1>Create group</h1>
{% endif %}

<form method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    {{ form.as_p() }}
    <input type="submit" class="save-btn" value="Save">
        <button class="cancel-btn"><a href="{{ url('group_list') }}">Back to list</a></button>
    {% if view_name == 'edit_group' %}
        <button class="delete-btn"><a href="{{ url('delete_group', args = [object.pk]) }}">Delete Group</a></button>
    {% endif %}
</form>


{% endblock %}