{% extends "base.html" %}

{% block  head %}

<style>

.input-field {
    width: 100%;   
}

table {
    width: 40%;
}

span.helptext {
    color: grey;
}
</style>

<link href="{{ static('css/tabs.css') }}" rel="stylesheet" />

{% endblock %}

{% block main %}

{% include "user/user_tabs.html" %}

<h1>Change user info</h1>
<form method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <table>
    
        {% for field in form.visible_fields() %}
            <tr>
                <td><label>{{ field.label }}:</label></td>
            </tr>
            <tr>
                <td>{{ field }}</td>
            </tr>
            <tr>
                <td><span class="helptext">{{ field.help_text }}</span></td>                
            </tr>
        {% endfor %}

    </table>

    <input type="submit" value="Update" class="create-table-btn">
    <a href="{{ url('user_list') }}">
        <button class="cancel-btn" type="button">Back to the list</button>
    </a>
</form>

{% endblock %}