<div class="tabs">
    <ul>
        <li class="{{ insert_on_name('update_user', 'selected') }}">
            <a href="{{ url('update_user', args=[object.id]) }}">Edit</a>
        </li>
        <li class="{{ insert_on_name('edit_user_group', 'selected') }}">
            <a href="{{ url('edit_user_group', args=[object.id]) }}">Groups</a>
        </li>
        <li class="{{ insert_on_name('permission_user_grant', 'selected') }}">
            <a href="{{ url('permission_user_grant', args=[object.id]) }}"
                >Permissions</a
            >
        </li>
    </ul>
</div>
