{% extends "base.html" %}

{% block  head %}
{% endblock %}

{% block main %}

<h1>Change user info</h1>
<form method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    {{ form.as_p() }}
    <input type="submit" value="Update">
</form>


<ul>
<li><a href="{{ url('edit_user_group', args=[object.pk]) }}">Change User groups</a></li>
<li><a href="{{ url('delete_user', args=[object.pk]) }}">Delete this user</a></li>
<li><a href="{{ url('role_list') }}">Back to list</a></li>
</ul>

{% endblock %}