{% extends "base.html" %}

{% block head %}

    <style>
        .input-field {
            width:30%;
        }
    </style>

{% endblock %}

{% block main %}

{% include "user/user_group_tabs.html" %}

<h1>Edit group</h1>
<form method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    {{ form.as_p() }}
    <input type="submit" class="save-btn" value="Update">
    <a href="{{ url('group_list') }}">
    
        <button class="cancel-btn">Back to list</button>
    </a>


</form>


<a href="{{ url('delete_group', args=[object.pk]) }}">Delete this group</a>
{% endblock %}