{% extends "base.html" %}
{% block title%}
    {% if view_name == 'object-edit' %}
        Edit an object
    {% else %}
        create an object
    {% endif %}
{%endblock%}

{% block head %}
    <script src="{{ static('js/jquery.formset.js') }}"></script>
    <link href="{{ static('css/edit_responsive.css') }}" rel="stylesheet" />

    {{ form.media }}

{% endblock %}

{% block main %}

{% include "table/object_tabs.html" %}

<div class="empty"></div>

<div class="col-md-4">
    {% if view_name == 'object-add' %}
        <h1>Create object</h1>
    {% else %}
        <h1>Edit object</h1>
    {% endif %}
    <form action="" method="post">
        <input
            type="hidden"
            name="csrfmiddlewaretoken"
            value="{{ csrf_token }}" />

        <table class="form-table">
            {% for field in form.visible_fields() %}
            <tr><td>{{ field.label_tag() }}</td></tr>
            <tr>
                <td>
                    {{ field }}<br />
                    {{ display_errors(field) }}
                </td>
            </tr>
            {% endfor %}
        </table>

        <div class="action-buttons">
            <input type="submit" class="save-btn" value="Save" />
            <a href="{{ url('object-list', args=[table.id]) }}">
                <button class="cancel-btn" type="button">
                    Back to the list
                </button>
            </a>
            {% if view_name == 'object-edit' %}
                <button class="delete-btn" type="button">
                    <a href="{{ url('object-delete', args=[table.id, object.id]) }}">Delete Object</a>
                </button>
                <a href="{{ url('object-add', args=[table.id]) }}">
                    <button class="save-btn" type="button">Add one more</button>
                </a>
            {% endif %}
        </div>
    </form>
</div>

{% endblock %}
