{% extends "base.html" %}

{% block head %}
<script src="{{ static('js/jquery.formset.js') }}"></script> 

<style>
input[type=number] {
	height: 50px;
	width: 350px;
	border: none;
	border-radius: 10px;
	box-shadow: none;
	background-color: #C7CEFF;
	padding-left: 20px;
	/*margin-top: 10px;*/
}


</style>

{% endblock %}

{% block main %}

{% if view_name == 'object-add' %}
    <h1>Create object</h1>
{% else %}
    <h1>Edit object</h1>
{% endif %}


<div class="col-md-4">
    <form action="" method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        {{ form.as_p() }}
       <input type="submit" class="save-btn" value="Save"/> 
        <a href="{{ url('object-list', args=[table.id]) }}">
            <button class="cancel-btn" type="button">Back to the list</button>
        </a>
        {% if view_name == 'object-edit' %}
            <a href="{{ url('object-delete', args=[table.id, object.id]) }}">
                <button class="delete-btn" type="button">Delete object</button>
            </a>
        {% endif %}

    </form>
</div>

<script type="text/javascript">
    $('.formset_row').formset({
        addText: 'add column',
        deleteText: 'remove',
        prefix: 'column_set'
    });
</script>
{% endblock %}