{% extends "base.html" %}

{% block head %}
<script src="{{ static('js/jquery.formset.js') }}"></script> 

<style>
input[type=number] {
	height: 50px;
	width: 350px;
	border: none;
	border-radius: 10px;
	box-shadow: none;
	background-color: #C7CEFF;
	padding-left: 20px;
	/*margin-top: 10px;*/
}


</style>

{% endblock %}

{% block main %}
<div class="col-md-4">
    <form action="" method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        {{ form.as_p() }}
       <input type="submit" value="Save"/> <a href="{{ url('object-list', args=[table.id]) }}">back to the list</a>
    </form>
</div>
<script type="text/javascript">
    $('.formset_row').formset({
        addText: 'add column',
        deleteText: 'remove',
        prefix: 'column_set'
    });
</script>
{% endblock %}