{% extends "base.html" %}

{% block head %}


{% for dtype, handler in dtypes.items() %}
    {{ handler.get_settings_form().media }}
{% endfor %}

<link href="{{ static('create_table.css') }}" rel="stylesheet">

<script src="{{ static('js/jquery.formset.js') }}"></script>

<style type="text/css">

    table {
        border: 2px solid #512FD9;
    }

    table, tr {
        border: 1px solid #512FD9;
        border-left: none;
        border-right: none;
        border-collapse: collapse;
    }

    td .input-field {
        width: 100%;
    }

    select {
        margin-left: 20px;
        width: 90% !important;
    }

    .edit-col {
        vertical-align: top;
        padding-top: 8px;
    }


    .checkbox {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45px;
    }

    .checkbox-input {
        align-self: center;
        height: 100%;

    }

    div.settings-box {
        border: 2px solid #A093D9;
        padding: 10px;
    }

    table.inner-table tr {
        border: none;
    }

    li {
        list-style-type: none;
        margin-bottom: 2px;
    }

    li input {
        border: 1px solid #424588;
        border-radius: 5px;
        background-color: #d5daff;
        color: #424588;
    }

    input[type="number"] {
        height: 20px;
    }

    .settings-box select {
        width: 30% !important;
        border: 1px solid #424588;
        border-radius: 5px;
        background-color: #d5daff;
        color: #424588;
    }

</style>

{% endblock %}

{% block main %}

    <script type="text/javascript">

        dtypes_form_handlers = {}

        function register_dtype(dtype, handlers) {
            dtypes_form_handlers[dtype] = handlers;
        }

        function get_settings_input(column_row) {
            return column_row.find("td input[id*=-settings]");
        }

        function get_selected_filters(settings_row) {
            let filter_checkboxes = settings_row.find("input[id*='id_filters']:checked");
            let selected_filters = [];
            for (let i = 0; i < filter_checkboxes.length; i++) {
                selected_filters.push($(filter_checkboxes[i]).val());
            }
            return selected_filters;
        }

        function check_selected_filters(settings_row, selected_filters) {
            let filter_checkboxes = settings_row.find("input[id*='id_filters']");
            for (let i = 0; i < filter_checkboxes.length; i++) {
                let filter_checkbox = $(filter_checkboxes[i]);
                if (selected_filters.includes(filter_checkbox.val()))
                    filter_checkbox.prop("checked", true);
            }

        }

    </script>

    <div class="col-md-4">

        {% if view_name == "table-add" %}
            <h1>Create a table</h1>
        {% else %}
            {% include "table/table_tabs.html" %}
            <h1>Edit a table</h1>
        {% endif %}

        <form action="" method="post">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            {{ form.name.label_tag() }}<br>
            {{ form.name }}
            <br>
            {{ display_errors(form.name) }}
            <br>
            {{ form.description.label_tag() }}<br>
            {{ form.description }}
            <br>
            {{ display_errors(form.description) }}
            <br>

            <table>
                {{ columns_form.management_form }}
                {% set cycling_list = cycler('row1', 'row2') %}
                {% for form in columns_form.forms %}
                    {% if loop.first %}
                        <thead class="columns_form">
                        <tr>
                            <th>{{ form.name.label }}</th>
                            <th>{{ form.dtype.label }}</th>
                            <th>{{ form.is_displayable.label }}</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                    {% endif %}
                    <tr class="{{ cycling_list.next() }} formset_row">

                        <td>
                            {% for hidden in form.hidden_fields() %}
                                {{ hidden }}
                            {% endfor %}
                            {{ form.name }}
                            {{ display_errors(form.name) }}
                        </td>
                        <td>
                            {{ form.dtype.errors.as_ul() }}
                            {{ form.dtype }}
                        </td>
                        <td class="checkbox">
                            {{ form.is_displayable.errors.as_ul() }}
                            {{ form.is_displayable }}
                        </td>
                        <td class="edit-col">
                            <a class="edit cancel-btn" href="javascript:void(0);">
                                <i data-feather="edit"></i>
                            </a>
                        </td>
                        <td class="delete-col"></td>
                    </tr>
                    <tr>
                        <td colspan="5"></td>
                    </tr>
                {% endfor %}
            </table>

            <div class="action-buttons">
                <button class="create-table-btn" type="submit">Save</button>

                <a href="{{ url('table-list') }}">
                    <button class="cancel-btn" type="button">Back to the list</button>
                </a>

                {% if view_name == 'table-edit' %}
                    <a href="{{ url('table-delete', args=[object.id]) }}">
                        <button class="delete-btn" type="button">Delete table</button>
                    </a>

                {% endif %}

            </div>

        </form>

        <div class="column-setting-forms" hidden>
            {% for dtype, handler in dtypes.items() %}
                {% from handler.get_settings_form().template_name import render_form, settings_script %}
                <div class="{{ dtype }}-setting-form">
                    {{ render_form(handler.get_settings_form()) }}
                </div>
                <div class="{{ dtype }}-setting-script">
                    {{ settings_script(dtype) }}
                </div>
            {% endfor %}
        </div>
    </div>

    <script type="text/javascript">

        function is_editing(event) {
            let svg_tag = $(event.target).closest("svg.feather-edit")
            if (svg_tag.length != 0)
                return true;
            else
                return false;
        }

        function toggle_edit_button(event) {
            let button_container = $(event.target).closest('.edit');
            let a = $(event.target).closest('a');
            $(event.target).closest("a").empty();
            if (is_editing(event)) {
                a.append('<i data-feather="check"></i>');
            } else {
                a.append('<i data-feather="edit"></i>');
            }
            feather.replace();
        }

        function edit_column_settings(event) {
            let formset_row = $(event.target.closest("tr"));
            let setting_row = formset_row.next("tr").find("td");
            let column_dtype = formset_row.find("select").val();
            let settings_input = get_settings_input(formset_row);
            let settings = JSON.parse(settings_input.val());
            setting_row.html($('div.' + column_dtype + '-setting-form').html());

            check_selected_filters(setting_row, settings.filters || []);
            dtypes_form_handlers[column_dtype].create_function(formset_row, setting_row);
            toggle_edit_button(event);
        }

        function save_column_settings(event) {
            let formset_row = $(event.target.closest("tr"));
            let setting_row = formset_row.next("tr").find("td");
            let column_dtype = formset_row.find("select").val();

            dtypes_form_handlers[column_dtype].export_function(formset_row, setting_row);

            setting_row.html("");
            toggle_edit_button(event);
        }

        $(document).on('click', '.edit', function (event) {
            if (is_editing(event))
                edit_column_settings(event);
            else
                save_column_settings(event);
        });

        function added_new_form(row) {
            row.find("td input[id*=-settings]").val("{}");
            row.after("<tr><td colspan='5'></td></tr>")
            feather.replace();
        }


        $('.formset_row').formset({
            addText: '+ Add column',
            addCssClass: "formset-add-btn",
            deleteText: '<i data-feather="trash-2"></i>',
            deleteCssClass: "delete-btn",
            editText: "edit",
            prefix: 'columns',
            added: added_new_form
        });

        $(document).ready(function () {
        });

    </script>

{% endblock %}