{% extends "base.html" %}

{% block head %}


{% for dtype, handler in dtypes.items() %}
    {{ handler.get_settings_form().media }}
{% endfor %}    

<script src="{{ static('js/jquery.formset.js') }}"></script> 
<link href="{{ static('create_table.css') }}" rel="stylesheet">

{% endblock %}

{% block main %}

<script type="text/javascript">
    
    dtypes_form_handlers = {}

    function register_dtype(dtype, handlers) {
        dtypes_form_handlers[dtype] = handlers;  
    } 

    function get_settings_input(column_row) {
        return column_row.find("td input[id*=-settings]");
    }

    function get_selected_filters(settings_row) {
        let filter_checkboxes = settings_row.find("input[id*='id_filters']:checked");
        let selected_filters = [];
        for(let i=0; i<filter_checkboxes.length; i++) {
            selected_filters.push($(filter_checkboxes[i]).val());
        }    
        return selected_filters;
    }

    function check_selected_filters(settings_row, selected_filters){
        let filter_checkboxes = settings_row.find("input[id*='id_filters']");
        for(let i=0; i<filter_checkboxes.length; i++) {
            let filter_checkbox = $(filter_checkboxes[i]);
            if (selected_filters.includes(filter_checkbox.val()))
                filter_checkbox.prop("checked", true);
        }    
 
    }

</script>

<div class="col-md-4">
    <form action="" method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <h1>Create a table</h1>
        {{ form.as_p() }}
        <table>
            {{ columns_form.management_form }}
            {% set cycling_list = cycler('row1', 'row2') %}
            {% for form in columns_form.forms %}
                {% if loop.first %}
                    <thead class="columns_form">
                    <tr>
                        {% for field in form.visible_fields() %}
                            <th>{{ field.label }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                {% endif %}
                <tr class="{{ cycling_list.next() }} formset_row">
                    {% for field in form.visible_fields() %}
                        <td>
                            {# Include the hidden fields in the form #}
                            {% if loop.first %}
                                {% for hidden in form.hidden_fields() %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endif %}
                            {{ field.errors.as_ul() }}
                            {{ field }}
                        </td>
                    {% endfor %}
                        
                </tr>
                <tr>
                </tr>
            {% endfor %}
        </table>

        <button type="submit">Save</button>
        <a href="{{ url('table-list') }}">
            <button>Back to the list</button>
        </a>
    </form>

    <div class="column-setting-forms" hidden>
        {% for dtype, handler in dtypes.items() %}
            {% from handler.get_settings_form().template_name import render_form, settings_script %}
            <div class="{{dtype}}-setting-form">
                {{ render_form(handler.get_settings_form()) }}
            </div>
            <div class="{{dtype}}-setting-script">
                {{ settings_script(dtype) }}
            </div>
        {% endfor %}
    </div>


</div>
<script type="text/javascript">

    function setUp() {
        $("thead.columns_form tr").append('<th>Edit</th>')
        let rows = $("tbody tr.formset_row");
        for (var i=0; i<rows.length ; i++){
            rows[i].innerHTML += '<td><a class="edit-column" href="javascript:void(0);">edit settings</a></td>';
        }
    }

    function is_editing(event) {
        if (event.target.text == "edit settings")
            return true;
        else
            return false;
    }

    function toggle_edit_button(event) {
        if (is_editing(event))
            event.target.text = "save settings";
        else
            event.target.text = "edit settings";
    }

    function edit_column_settings(event) {
        let formset_row = $(event.target.closest("tr"));
        let setting_row = formset_row.next("tr");
        let column_dtype = formset_row.find("select").val();
        setting_row.html($('div.' + column_dtype + '-setting-form').html());

        dtypes_form_handlers[column_dtype].create_function(formset_row, setting_row);

        toggle_edit_button(event);
    }

    function save_column_settings(event) {
        let formset_row = $(event.target.closest("tr"));
        let setting_row = formset_row.next("tr");
        let column_dtype = formset_row.find("select").val();
        
        dtypes_form_handlers[column_dtype].export_function(formset_row, setting_row);

        setting_row.html("");
        toggle_edit_button(event);
    }

    $(document).on('click', '.edit-column', function(event){ 
        if (is_editing(event))
            edit_column_settings(event);
        else
            save_column_settings(event);
    });
    
    $('.formset_row').formset({
            addText: 'add column',
            deleteText: 'remove',
            editText: "edit",
            prefix: 'column_set'
        });

    $(document).ready(function(){
        setUp();
    });

</script>
{% endblock %}