{% extends "base.html" %}

{% block head %}
{% load static %}
<script src="{% static 'js/jquery.formset.js' %}"></script> 
{% endblock %}

{% block main %}
<div class="col-md-4">
    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}

        <table class="table">
            {{ columns_form.management_form }}

            {% for form in columns_form.forms %}
                {% if forloop.first %}
                    <thead>
                    <tr>
                        {% for field in form.visible_fields %}
                            <th>{{ field.label|capfirst }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                {% endif %}
                <tr class="{% cycle "row1" "row2" %} formset_row">
                    {% for field in form.visible_fields %}
                        <td>
                            {# Include the hidden fields in the form #}
                            {% if forloop.first %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endif %}
                            {{ field.errors.as_ul }}
                            {{ field }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Save"/> <a href="{% url 'table-list' %}">back to the list</a>
    </form>
</div>
<script type="text/javascript">

    function setUp() {
        $("thead tr").append('<th>Edit</th>')
        let rows = $("tbody tr");
        for (var i=0; i<rows.length-1; i++){
            rows[i].innerHTML += '<td><a class="edit-column" href="javascript:void(0);">edit</a></td>';
        }
    }



    $(document).on('click', '.edit-column', function(event){ 
        console.log(event);
    });

    $('.formset_row').formset({
        addText: 'add column',
        deleteText: 'remove',
        editText: "edit",
        prefix: 'column_set'
    });

    $(document).ready(function(){
        setUp();
    });

</script>
{% endblock %}