{% extends "base.html" %}

{% block title %} Logs {% endblock%}

{% block head %}
<style>

@media (min-width: 1024px) {
    .object-list-container {
        width: 60%;
    }
}

.filter-button-container {
    display: flex;
    justify-content: right;
}

.message, .description {
    text-align: left !important;
    padding-left: 4px;
}

</style>

{{ filter.form.media }}

{% endblock %}

{% block main %}

    <h1>Logs</h1>

    <div class="object-list-container">

        <div class="actiom-btns">
            {% if filter.form.fields %}
                <button class="open-filter-btn">
                    <i class="fas fa-filter"></i> Filters
                </button>
            {% endif %}
        </div>
        <div class="filters-box" hidden>
            <form action="#" method="get">
                <table class="filter-table">
                    {% for field in filter.form.visible_fields() %}
                        <tr>
                            <td>{{ field.label_tag() }}</td>
                            <td>{{ field }}</td>
                        </tr>   
                    {% endfor %}
                </table>
                <div class="filter-button-container">
                    <button class="filter-btn" type="submit">
                            Filter
                    </button>                    
                </div>
            </form>
       </div>

        <div class="table-temp">
            <table class="wide">
                <thead>
                    <tr>
                        <th class="abbr">Id</th>
                        <th>User</th>
                        <th>Table</th>
                        <th>Object</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody>
                    {% for log in object_list %}
                        {% if log.table %}
                            <tr>
                                <td>{{ log.id }}</td>
                                <td><a href="{{ url('update_user', args=[log.user.id]) }}">{{ log.user.username}}</td>
                                <td><a href="{{ url('object-list', args=[log.table.id]) }}">{{ log.table.name }}</td>
                                <td><a href="{{ url('object-edit', args=[log.table.id, log.object_id]) }}">{{ log.object_id }}</td>
                                <td class="message">{{ log.message }}</td>
                            </tr>
                            <tr>
                                <td colspan="5" class="description">
                                    <i>{{ log.description[:200] }}</i>
                                    <a href="{{ url('log-detail', args=[log.id]) }}">Read full log</a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            {{ add_paginator(page_obj) }}
        </div>
    </div>

    <script type="text/javascript">
        $('.open-filter-btn').click(function(){
            let filter_box = $(".filters-box");
            if (filter_box.is(":visible"))
                filter_box.hide(500);
            else
                filter_box.show(500);
        });

    </script>
{% endblock %}