
@media (max-width: 1024px){
  .input-field {
    width: 100%;
  }
}


@media (max-width: 768px){
  .input-field {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .input-field {
    width: 120%;
  }
}

